.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.logo {
    font-size: 1.8rem;
    color: rgb(227, 61, 89);
    font-weight: 500;
}

.navButtons {
    display: flex;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 20px;
    margin: 0px 20px;
}

.navItems a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navItems a:hover {
    color: rgb(227, 61, 89);
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    cursor: pointer;
    border: none;
    background-color: rgb(227, 61, 89);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.buttons button:hover {
    background-color: rgb(222, 30, 62);
}

.hamburgerMenu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(227, 61, 89);
}

@media (max-width: 700px) {
    .navItems {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #34495e;
        padding: 15px;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .hamburgerMenu {
        display: block;
    }

    .buttons {
        flex-direction: column;
        margin: 10px;
    }
}

/* Material-UI Drawer styles */
.MuiDrawer-paperRight {
    width: 250px;
}

.MuiDrawer-paperRight .MuiList-root {
    padding: 20px;
}

.MuiDrawer-paperRight .MuiListItem-root {
    margin-bottom: 15px;
}

.MuiDrawer-paperRight .MuiButton-root {
    margin-bottom: 15px;
}